
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shares styles */

.display-flex{

    display: flex;


}

.text-primary{
    color: #FF900E;
}

.btn-primary{
    background-color:#FF900E ;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    

}

main{
    max-width: 1040px;
    margin: 0 auto;
}

main>section{
    margin-top: 100px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* dark-o2 */

.text-gray{
    color:#424242 ;
}

/* dark-03 */

.text-light-gray{
    color: #727272;

}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);

}

/* header styles */

/* navbar styles */

.navbar {
    justify-content: space-between;
    align-items: center;

    
   
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-item{

    list-style: none;
    margin-right: 30px;
    margin-bottom: 15px;
    
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}

.navbar, .banner{
    max-width: 1040px;
    margin: 0 auto;
}

/* banner related structure */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-image{
    width: 100%;
}

.banner-title{
    font-weight:700 ;
    font-size:4rem ;
}

.team{
   
    align-items: center;
}

.team img{
   width: 100%;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

}

.our-features{
    margin-left: 100px;
    max-width: 500px;
}
/* responsive */
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links, 
    .team{
        flex-direction: column;
    }

    .team-img-container{
        /* grid-template-columns: repeat(1, 1fr); */
    }

    .our-features{
        margin-left: 15px;
    }

  


    
}



#quick-list{
    font-weight: 500;
}

/* mediam size device */
@media screen and (min-width: 576px) and (max-width: 992px) {

    .team{
        flex-direction: column;
    }

    .our-features{
        margin-left: 50px auto;
    }


    
}